BODY {
	FONT-SIZE: 12px; COLOR: #333333; FONT-FAMILY: 'Trebuchet MS',Arial, sans-serif
}
P {
	FONT-SIZE: 12px; COLOR: #333333; FONT-FAMILY: 'Trebuchet MS',Arial, sans-serif
}
TD {
	FONT-SIZE: 12px; COLOR: #333333; FONT-FAMILY: 'Trebuchet MS',Arial, sans-serif
}
DIV {
	FONT-SIZE: 12px; COLOR: #333333; FONT-FAMILY: 'Trebuchet MS',Arial, sans-serif
}
A:link {
	COLOR: #0473b2
}
A:visited {
	COLOR: #0473b2
}
#blanket {
	Z-INDEX: 9001; FILTER: alpha(opacity=75); LEFT: 0px; WIDTH: 100%; POSITION: absolute; TOP: 0px; BACKGROUND-COLOR: #171c3a; opacity: 0.75
}
.popup {
	PADDING-LEFT: 20px; Z-INDEX: 9002; BACKGROUND-IMAGE: url(/images/popup_bg.gif); MARGIN: 0px auto; WIDTH: 427px; PADDING-TOP: 40px; BACKGROUND-REPEAT: no-repeat; POSITION: absolute; HEIGHT: 406px
}
.popup_tall {
	PADDING-LEFT: 20px; Z-INDEX: 9002; BACKGROUND-IMAGE: url(/images/popup_tall.gif); MARGIN: 0px auto; WIDTH: 456px; PADDING-TOP: 40px; BACKGROUND-REPEAT: no-repeat; POSITION: absolute; HEIGHT: 463px
}
.popupcontent {
	Z-INDEX: 9003; MARGIN: 0px auto; WIDTH: 420px; HEIGHT: 340px
}
.popuptitle {
	PADDING-LEFT: 10%; FONT-WEIGHT: 700; FLOAT: left; WIDTH: 75%; PADDING-TOP: 15%
}
.popuptext {
	PADDING-LEFT: 10%; FLOAT: left; WIDTH: 66%; PADDING-TOP: 10%
}
.popupok {
	MARGIN-TOP: 50px; FLOAT: right; WIDTH: 100%; TEXT-ALIGN: center
}
#closebox {
	MARGIN-TOP: 20px; FLOAT: right; MARGIN-RIGHT: 45px
}
#signUp A {
	FONT-WEIGHT: bold; COLOR: #ffffff; TEXT-DECORATION: underline
}
#signUp A:visited {
	FONT-WEIGHT: bold; COLOR: #ffffff; TEXT-DECORATION: underline
}
A.logout:link {
	COLOR: #333333; TEXT-DECORATION: underline
}
A.logout:visited {
	COLOR: #333333; TEXT-DECORATION: underline
}
.typ_red {
	FONT-WEIGHT: 400; FONT-SIZE: 10px; COLOR: #da0000
}
.greenLink A:link {
	COLOR: #090
}
.greenLink A:visited {
	COLOR: #090
}
.greenLink A:hover {
	COLOR: #090
}
INPUT {
	PADDING-RIGHT: 2px; MARGIN-TOP: 0px; PADDING-LEFT: 2px; FONT-SIZE: 10px; PADDING-BOTTOM: 2px; COLOR: #333333; PADDING-TOP: 2px; FONT-FAMILY: 'Trebuchet MS',Arial, sans-serif
}
INPUT.text {
	BORDER-RIGHT: #999999 1px solid; BORDER-TOP: #999999 1px solid; BORDER-LEFT: #999999 1px solid; BORDER-BOTTOM: #999999 1px solid
}
INPUT.password {
	BORDER-RIGHT: #999999 1px solid; BORDER-TOP: #999999 1px solid; BORDER-LEFT: #999999 1px solid; BORDER-BOTTOM: #999999 1px solid
}
SELECT {
	FONT-SIZE: 10px; COLOR: #333333; FONT-FAMILY: 'Trebuchet MS',Arial, sans-serif
}
.italic {
	FONT-STYLE: italic
}
.blackText {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-SIZE: 12px; PADDING-BOTTOM: 2px; COLOR: #333333; PADDING-TOP: 2px
}
.headerInfoTxt {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-SIZE: 10px; PADDING-BOTTOM: 2px; COLOR: blue; PADDING-TOP: 2px
}
#transparentLayer {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 10pt; Z-INDEX: 5; FILTER: alpha(opacity=75); LEFT: 0px; PADDING-BOTTOM: 0px; WIDTH: 100%; PADDING-TOP: 0px; POSITION: absolute; TOP: 0px; HEIGHT: 100%; BACKGROUND-COLOR: #171c3a; moz-opacity: .75; opacity: .75
}
.transparentLayer {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 10pt; Z-INDEX: 5; FILTER: alpha(opacity=75); LEFT: 0px; PADDING-BOTTOM: 0px; WIDTH: 100%; PADDING-TOP: 0px; POSITION: absolute; TOP: 0px; HEIGHT: 100%; BACKGROUND-COLOR: #171c3a; moz-opacity: .75; opacity: .75
}
INPUT:unknown {
	BACKGROUND: #8ddb46
}
INPUT.sffocus {
	BACKGROUND: #8ddb46
}
INPUT.loginButton {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; FONT-WEIGHT: bold; FONT-SIZE: 14px; BACKGROUND: url(/images/green_button.gif) no-repeat; BORDER-LEFT: 0px; WIDTH: 125px; CURSOR: pointer; COLOR: #ffffff; LINE-HEIGHT: 10px; BORDER-BOTTOM: 0px; FONT-FAMILY: 'Trebuchet MS',Arial, sans-serif; HEIGHT: 30px
}
INPUT.blueButton {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; FONT-WEIGHT: bold; FONT-SIZE: 13px; BACKGROUND: url(/images/blue_button.gif) no-repeat; BORDER-LEFT: 0px; WIDTH: 125px; CURSOR: pointer; COLOR: #ffffff; LINE-HEIGHT: 10px; BORDER-BOTTOM: 0px; FONT-FAMILY: 'Trebuchet MS',Arial, sans-serif; HEIGHT: 30px
}
INPUT.cancelButton {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; FONT-WEIGHT: bold; FONT-SIZE: 14px; BACKGROUND: url(/images/gray_button.gif) no-repeat; BORDER-LEFT: 0px; WIDTH: 125px; CURSOR: pointer; COLOR: #ffffff; LINE-HEIGHT: 10px; BORDER-BOTTOM: 0px; FONT-FAMILY: 'Trebuchet MS',Arial, sans-serif; HEIGHT: 30px; TEXT-ALIGN: center
}
UNKNOWN {
	FILTER: alpha(opacity=50); opacity: 0.50
}
.imagecss {
	BACKGROUND-IMAGE: url(/images/dots.gif); WIDTH: 480px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 15px
}
.imagecssCreatorPod {
	MARGIN-TOP: 0px; BACKGROUND-IMAGE: url(/images/dots.gif); MARGIN-LEFT: 20px; OVERFLOW: hidden; WIDTH: 90%; BACKGROUND-REPEAT: no-repeat; HEIGHT: 5px
}
.imagecssExchange {
	BACKGROUND-IMAGE: url(/images/dotedline.gif); WIDTH: 480px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 2px
}
.dottedImage {
	BACKGROUND-IMAGE: url(/images/dots.gif); WIDTH: 190px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 50px
}
DIV.row {
	BORDER-RIGHT: #fff 0px solid; PADDING-RIGHT: 1px; BORDER-TOP: #fff 0px solid; PADDING-LEFT: 1px; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 1px; MARGIN: 0px; BORDER-LEFT: #fff 0px solid; WIDTH: 90%; COLOR: #dad8d8; PADDING-TOP: 1px; BORDER-BOTTOM: #fff 0px solid; TEXT-ALIGN: left
}
DIV.leftContainer {
	BORDER-RIGHT: medium none; PADDING-RIGHT: 0px; BORDER-TOP: medium none; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: medium none; WIDTH: 24%; PADDING-TOP: 0px; BORDER-BOTTOM: medium none; TEXT-ALIGN: right
}
DIV.rightContainer {
	BORDER-RIGHT: medium none; PADDING-RIGHT: 0px; BORDER-TOP: medium none; PADDING-LEFT: 0px; FLOAT: right; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: medium none; WIDTH: 73%; PADDING-TOP: 0px; BORDER-BOTTOM: medium none
}
DIV.space-line {
	CLEAR: both; PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; MARGIN: -2px 0px 0px; WIDTH: auto; PADDING-TOP: 2px
}
DIV.clearBoth {
	CLEAR: both; FONT-SIZE: 1px
}
.greenTitle {
	FONT-WEIGHT: bold; FONT-SIZE: 18px; COLOR: #77b800
}
.greenSubTitle {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #77b800
}
.greenForm {
	BORDER-RIGHT: #77b800 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #77b800 1px solid; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; BORDER-LEFT: #77b800 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #77b800 1px solid; BACKGROUND-COLOR: #e1f6de
}
#lightbox {
	Z-INDEX: 100; LEFT: 0px; WIDTH: 100%; COLOR: #555; LINE-HEIGHT: 0%; POSITION: absolute; TOP: 40px; TEXT-ALIGN: center; min-width: auto
}
#lightbox A IMG {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; BORDER-LEFT: medium none; BORDER-BOTTOM: medium none
}
#outerImageContainer {
	MARGIN: 0px auto; WIDTH: 250px; POSITION: relative; TOP: 0px; HEIGHT: 250px; BACKGROUND-COLOR: #000
}
#imageContainer {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; PADDING-TOP: 10px
}
#loading {
	LEFT: 0%; WIDTH: 100%; LINE-HEIGHT: 0%; POSITION: absolute; TOP: 40%; HEIGHT: 25%; TEXT-ALIGN: center
}
#hoverNav {
	Z-INDEX: 10; LEFT: 0px; WIDTH: 100%; POSITION: absolute; TOP: 0px; HEIGHT: 100%
}
UNKNOWN {
	LEFT: 0px
}
#hoverNav A {
	outline: none
}
#prevLink {
	LEFT: 0px; FLOAT: left
}
#nextLink {
	RIGHT: 0px; FLOAT: right
}
#imageDataContainer {
	FONT-SIZE: 11px; MARGIN: 0px auto; FONT-FAMILY: 'Trebuchet MS',Arial, sans-serif; POSITION: relative; HEIGHT: 25px; BACKGROUND-COLOR: #000
}
#imageData {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 3px; COLOR: #09acc3; PADDING-TOP: 3px
}
#imageData #imageDetails {
	FLOAT: left; WIDTH: 75%; TEXT-ALIGN: left
}
#imageData #caption {
	FONT-WEIGHT: bold
}
#imageData #numberDisplay {
	CLEAR: left; DISPLAY: block; PADDING-BOTTOM: 1em
}
#imageData #bottomNavClose {
	FLOAT: right; PADDING-BOTTOM: 0.7em; WIDTH: 66px
}
#overlay {
	Z-INDEX: 90; LEFT: 0px; WIDTH: 100%; POSITION: absolute; TOP: 0px; HEIGHT: 100%; BACKGROUND-COLOR: #4c4c4c
}
#greenFrameTop {
	BACKGROUND-IMAGE: url(/images/launcher/greenFormTop.gif); WIDTH: 550px; HEIGHT: 29px
}
#greenFrameMiddle {
	BACKGROUND-IMAGE: url(/images/launcher/greenFormMiddle.gif); WIDTH: 550px; BACKGROUND-REPEAT: repeat-y
}
#greenFrameContent {
	PADDING-RIGHT: 10px; PADDING-LEFT: 30px
}
#greenFrameBottom {
	BACKGROUND-IMAGE: url(/images/launcher/greenFormBottom.gif); WIDTH: 550px; HEIGHT: 47px
}
.greenTransTop {
	BACKGROUND-POSITION: 50% top; BACKGROUND-IMAGE: url(/images/pods/greenGradiant_top.gif); WIDTH: 403px; PADDING-TOP: 100px; BACKGROUND-REPEAT: no-repeat
}
.greenTransMid {
	BACKGROUND-POSITION: 50% bottom; BACKGROUND-IMAGE: url(/images/pods/greenGradiant_mid.gif); BACKGROUND-REPEAT: no-repeat
}
.greenTransContent {
	PADDING-RIGHT: 15px; PADDING-LEFT: 15px; MARGIN-BOTTOM: -75px; PADDING-BOTTOM: 15px; PADDING-TOP: 0px; POSITION: relative; xtop: -75px
}
.greenTransBot {
	BACKGROUND-POSITION: left bottom; BACKGROUND-IMAGE: url(/images/pods/greenGradiant_bot.gif); BACKGROUND-REPEAT: no-repeat; POSITION: relative; TOP: -75px
}
.greenTransMidSimMsg {
	BACKGROUND-POSITION: 50% bottom; BACKGROUND-IMAGE: url(/images/pods/greenGradiant_middle_simMsg.gif); BACKGROUND-REPEAT: no-repeat
}
.wideGreenTransTop {
	BACKGROUND-POSITION: 50% top; BACKGROUND-IMAGE: url(/images/pods/wideGreenGradiant_top.gif); WIDTH: 920px; PADDING-TOP: 100px; BACKGROUND-REPEAT: no-repeat
}
.wideGreenTransMid {
	BACKGROUND-POSITION: 50% bottom; BACKGROUND-IMAGE: url(/images/pods/wideGreenGradiant_mid.gif); BACKGROUND-REPEAT: no-repeat
}
.wideGreenTransContent {
	PADDING-RIGHT: 15px; PADDING-LEFT: 15px; MARGIN-BOTTOM: -75px; PADDING-BOTTOM: 15px; PADDING-TOP: 0px; POSITION: relative; xtop: -75px
}
.wideGreenTransBot {
	BACKGROUND-POSITION: left bottom; BACKGROUND-IMAGE: url(/images/pods/wideGreenGradiant_bot.gif); BACKGROUND-REPEAT: no-repeat; POSITION: relative; TOP: -75px
}
.staticsTable {
	BORDER-RIGHT: black 1px solid; BORDER-TOP: black 1px solid; BORDER-LEFT: black 1px solid; BORDER-BOTTOM: black 1px solid
}
.staticsTableColumn {
	BORDER-RIGHT: black 1px solid; BORDER-TOP: black 1px solid; BORDER-LEFT: black 1px solid; BORDER-BOTTOM: black 1px solid
}
.cowboy {
	RIGHT: -25px; BACKGROUND-IMAGE: url(/images/cowboy.gif); MARGIN-BOTTOM: -300px; WIDTH: 242px; BOTTOM: -100px; POSITION: relative; TOP: -70px; HEIGHT: 656px
}
