/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* LAUNCHER */
#content {
	position: relative;
	top: 0;
	left: 0;
	width: 584px;
	height: 530px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background: url('bg-default.jpg') no-repeat 0 0;
}


#header {
	position: absolute;
	top: 6px;
	left: 7px;
	width: 572px;
	height: 60px;
	text-align: center;
}

#header h2 {
	padding-top: 15px;
	color: #fff;
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
}

#header h3 {
	color: #a8cdfd;
	font-size: 14px;
	font-weight: bold;
}

#main {
	position: absolute;
	top: 90px;
	left: 33px;
	width: 298px;
	height: 400px;
	/*background: #00ff00;*/
}

#game-info {
	width: 268px;
	padding: 12px 15px;
	background: url(divider.png) 15px 100% no-repeat;
}


#game-title {
	font-size: 16px;
	font-weight: bold;
}

#game-desc {
	padding-top: 10px;
	font-size: 13px;
}

#game-desc a {
	color: #203d80;
	text-decoration: none;
}

ul#launch-list {
	width: 100%;
}


ul#launch-list li {
	display: block;
	padding-top: 12px;
	margin: 0 15px;
	color: #203d80;
	font-size: 12px;
	font-weight: bold;
	background: url(list-icon.png) no-repeat 0 17px;
}

ul#launch-list li span {
	padding-left: 14px;
	cursor: pointer;
}